# For quick install of optional requirements in development
# Get the main requirements by installing the package in editable mode:
# pip install -e .

moderngl<6

# Optional
PySide2<6
PyQt5>=5.12
glfw>=1.8.3
PySDL2>=0.9.6
pyrr>=0.10
pywavefront<2.0
numpy>=1.16
